<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.mobilesale.mapper.AreasMapper">
  <resultMap id="BaseResultMap" type="com.sdu.mobilesale.model.Areas">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, area_id, area, city_id
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from areas-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from areas-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.sdu.mobilesale.model.Areas">-->
    <!--insert into areas (id, area_id, area, -->
      <!--city_id)-->
    <!--values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, -->
      <!--#{cityId,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.sdu.mobilesale.model.Areas">-->
    <!--insert into areas-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="areaId != null">-->
        <!--area_id,-->
      <!--</if>-->
      <!--<if test="area != null">-->
        <!--area,-->
      <!--</if>-->
      <!--<if test="cityId != null">-->
        <!--city_id,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="areaId != null">-->
        <!--#{areaId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="area != null">-->
        <!--#{area,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="cityId != null">-->
        <!--#{cityId,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.sdu.mobilesale.model.Areas">-->
    <!--update areas-->
    <!--<set>-->
      <!--<if test="areaId != null">-->
        <!--area_id = #{areaId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="area != null">-->
        <!--area = #{area,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="cityId != null">-->
        <!--city_id = #{cityId,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.sdu.mobilesale.model.Areas">-->
    <!--update areas-->
    <!--set area_id = #{areaId,jdbcType=VARCHAR},-->
      <!--area = #{area,jdbcType=VARCHAR},-->
      <!--city_id = #{cityId,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>