<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.mobilesale.mapper.CitiesMapper">
  <resultMap id="BaseResultMap" type="com.sdu.mobilesale.model.Cities">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city_id, city, province_id
  </sql>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from cities-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from cities-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.sdu.mobilesale.model.Cities">-->
    <!--insert into cities (id, city_id, city, -->
      <!--province_id)-->
    <!--values (#{id,jdbcType=INTEGER}, #{cityId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, -->
      <!--#{provinceId,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.sdu.mobilesale.model.Cities">-->
    <!--insert into cities-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="cityId != null">-->
        <!--city_id,-->
      <!--</if>-->
      <!--<if test="city != null">-->
        <!--city,-->
      <!--</if>-->
      <!--<if test="provinceId != null">-->
        <!--province_id,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="cityId != null">-->
        <!--#{cityId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="city != null">-->
        <!--#{city,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="provinceId != null">-->
        <!--#{provinceId,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.sdu.mobilesale.model.Cities">-->
    <!--update cities-->
    <!--<set>-->
      <!--<if test="cityId != null">-->
        <!--city_id = #{cityId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="city != null">-->
        <!--city = #{city,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="provinceId != null">-->
        <!--province_id = #{provinceId,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.sdu.mobilesale.model.Cities">-->
    <!--update cities-->
    <!--set city_id = #{cityId,jdbcType=VARCHAR},-->
      <!--city = #{city,jdbcType=VARCHAR},-->
      <!--province_id = #{provinceId,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>