<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.mobilesale.mapper.CustomerInformationMapper">
    <resultMap id="BaseResultMap" type="java.util.HashMap">
        <id column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone"/>
        <result column="customer_address" jdbcType="LONGVARCHAR" property="customerAddress"/>
        <collection property="cities" ofType="com.sdu.mobilesale.model.Cities">
            <id property="cityId" column="city_id"/>
            <result property="city" column="city"/>
        </collection>
    </resultMap>
    <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sdu.mobilesale.model.CustomerInformation">-->
    <!--<result column="customer_address" jdbcType="LONGVARCHAR" property="customerAddress" />-->
    <!--</resultMap>-->
    <sql id="Base_Column_List">
        customer_id, customer_name, customer_phone
    </sql>
    <sql id="Blob_Column_List">
        customer_address
    </sql>
    <sql id="Extend_Column_List">
        city
    </sql>
    <select id="customerList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        ,
        <include refid="Extend_Column_List"/>
        from customer_info NATURAL JOIN areas,cities
        where area_id = #{areaId,jdbcType=VARCHAR} and areas.city_id = cities.city_id
    </select>

</mapper>