<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.mobilesale.mapper.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.sdu.mobilesale.model.ProductInfo">
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_price" jdbcType="DOUBLE" property="productPrice"/>
        <result column="product_cost_price" jdbcType="DOUBLE" property="productCostPrice"/>
        <result column="product_type_id" jdbcType="INTEGER" property="productTypeId"/>
        <result column="product_quantity" jdbcType="INTEGER" property="productQuantity"/>
        <result column="product_description" jdbcType="LONGVARCHAR" property="productDescription"/>
        <result column="product_img" jdbcType="LONGVARBINARY" property="productImg"/>
        <result column="selling_state" jdbcType="BOOLEAN" property="sellingState"/>
    </resultMap>
    <sql id="Base_Column_List">
        product_id, product_name, product_price, product_cost_price, product_type_id, product_quantity, selling_state
    </sql>
    <sql id="Blob_Column_List">
        product_description, product_img
    </sql>
    <!--插入新商品-->
    <insert id="addNewProduct" parameterType="com.sdu.mobilesale.model.ProductInfo">
        insert into product_info (product_name, product_price, product_cost_price, product_type_id, product_description, product_quantity, product_img) values
            (#{productName}, #{productPrice}, #{productCostPrice}, #{productTypeId},
             #{productDescription}, #{productQuantity}, #{productImg})
    </insert>
    <!--查询商品-->
    <select id="productList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from product_info
        <where>
            <if test="productType != null and productType !='' ">
                and product_type_id = #{productType,jdbcType = INTEGER}
            </if>
        </where>
    </select>
    <!--更新商品信息-->
    <update id="updateProduct" parameterType="com.sdu.mobilesale.model.ProductInfo">
        update product_info
        set product_id          = #{productId,jdbcType=INTEGER},
            product_name        = #{productName,jdbcType=VARCHAR},
            product_price       = #{productPrice,jdbcType=DOUBLE},
            product_cost_price  = #{productCostPrice,jdbcType=DOUBLE},
            product_type_id     = #{productTypeId,jdbcType=INTEGER},
            product_quantity    = #{productQuantity,jdbcType=INTEGER},
            product_description = #{productDescription,jdbcType=LONGVARCHAR},
            product_img         = #{productImg,jdbcType = LONGVARCHAR}
        where product_id = #{productId,jdbcType=INTEGER}
    </update>
    <!--下架商品-->
    <update id="saleOffProduct" parameterType="java.lang.Integer">
        update product_info
        set selling_state = 0
        where product_id = #{productId,jdbcType=INTEGER}
    </update>

    <!--上架商品-->
    <update id="saleOnProduct" parameterType="java.lang.Integer">
        update product_info
        set selling_state = 1
        where product_id = #{productId,jdbcType=INTEGER}
    </update>

    <!--删除商品-->
    <delete id="deleteProduct" parameterType="java.lang.Integer">
    delete from product_info
    where product_id = #{productId,jdbcType=INTEGER}
    </delete>
</mapper>