<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdu.mobilesale.mapper.SellerStaffMapper">
    <resultMap id="BaseResultMap" type="com.sdu.mobilesale.model.SellerStaff">
        <id column="seller_id" jdbcType="INTEGER" property="sellerId"/>
        <result column="seller_account" jdbcType="VARCHAR" property="sellerAccount"/>
        <result column="seller_name" jdbcType="VARCHAR" property="sellerName"/>
        <result column="seller_password" jdbcType="VARCHAR" property="sellerPassword"/>
        <result column="seller_phone" jdbcType="VARCHAR" property="sellerPhone"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
    </resultMap>
    <resultMap id="PartResultMap" type="java.util.HashMap">
        <result column="seller_name" jdbcType="VARCHAR" property="sellerName"/>
        <result column="seller_phone" jdbcType="VARCHAR" property="sellerPhone"/>
        <collection property="areas" ofType="com.sdu.mobilesale.model.Areas">
            <id property="id" column="id"/>
            <result property="area" column="area"/>
        </collection>
        <collection property="cities" ofType="com.sdu.mobilesale.model.Cities">
            <id property="id" column="id"/>
            <result property="city" column="city"/>
        </collection>
    </resultMap>
    <select id="loginAuthentication" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT seller_password
        FROM seller_staff
        WHERE seller_account = #{useraccount}
    </select>
    <select id="selectByAccount" resultMap="PartResultMap" parameterType="java.lang.String">
        SELECT
            seller_name,
            seller_phone,
            area,
            city
        FROM seller_staff
            NATURAL JOIN areas,cities
        WHERE
            seller_account = #{useraccount}
            and seller_staff.area_id = areas.area_id and areas.city_id = cities.city_id
    </select>
</mapper>